* {
    box-sizing: border-box;
}

body {
    background-color: #0095dd;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Press Start 2P", system-ui;
    min-height: 100vh;
    margin: 0;
}

h1 {
    font-size: 45px;
    color: #fff;
}

canvas {
    background: #f0f0f0;
    display: block;
    border-radius: 5px;
}

.btn {
    cursor: pointer;
    border: 0;
    padding: 10px 20px;
    background: #000;
    color: #fff;
    border-radius: 5px;
}

.btn:focus {
    outline: 0;
}

.btn:hover {
    background: #222;
}

.btn:active {
    transform: scale(0.98);
}

.btn-reglas {
    position: absolute;
    top: 30px;
    left: 30px;
}

.reglas {
    position: absolute;
    top: 0;
    left: 0;
    background: #333;
    color: #fff;
    min-height: 100vh;
    width: 400px;
    padding: 20px;
    line-height: 1.5;
    transform: translateX(-400px);
    transition: transform 1s ease-in-out;
}

.reglas.mostrar {
    transform: translateX(0);
}


/* Estilo para los spans */
span {
    position: absolute;
    top: 70px;
    left: 73%;
    transform: translateX(-50%);
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    animation: moverArriba 1s linear forwards, degradar 0.6s linear forwards;
}

/* Animación para mover los spans hacia abajo */
@keyframes moverArriba {
    from {
        top: 70;
    }
    to {
        top: calc(0% - 70px); /* Mueve el span hacia abajo hasta el 100% de la altura del contenedor */
    }
}

/* Animación para degradar los spans */
@keyframes degradar {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

